<div id="<%= dom_id top_ware %>">
  <p>
    <strong>Style:</strong>
    <%= top_ware.style %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= top_ware.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= top_ware.price %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= top_ware.origin %>
  </p>

</div>
